body {
    background-color:slategrey;
    
}

h1 {
    font-size: 4.5em;
    font-family: 'Fira Sans', sans-serif;
}

p {
    font-size: 1.5em;
    font-family: 'Fira Sans', sans-serif;
}

.container {
    text-align: center;
    margin-bottom: 20%;
}

.contacts {
    color: azure;
    background-color: black;
    padding-top: 4%;
    padding-bottom: 2%;
    font-size: 1.5em;
    border: 0.2vh solid blanchedalmond;
    
}

.maincontainer {
    text-align: left;
}
.email, .number {
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Fira Sans', sans-serif;
}